###  1 Задание (python). Получить все "связанные данные"

In [ ]:
import pandas as pd  
import numpy as np

In [8]:
data = {'key':[1, 2, 3, 4, 5, 6],
        'id':[12345, 54321, 98765, 66678, 34567, 34567],
        'phone':['89997776655', '87778885566', '87776664577', '87778885566', '84547895566', '89087545678'],
        'mail':['test@mail.ru', 'two@mail.ru', 'three@mail.ru', 'four@mail.ru', 'four@mail.ru', 'five@mail.ru']
       }

df = pd.DataFrame(data)
df

   key     id        phone           mail
0    1  12345  89997776655   test@mail.ru
1    2  54321  87778885566    two@mail.ru
2    3  98765  87776664577  three@mail.ru
3    4  66678  87778885566   four@mail.ru
4    5  34567  84547895566   four@mail.ru
5    6  34567  89087545678   five@mail.ru

In [9]:
def relation(data, values):
    d = data.apply(lambda x: x.isin(values.ravel()))
    values1 = data.iloc[np.unique(np.where(d)[0]),:]
    if set(np.array(values)) == set(values1.to_numpy().ravel()):
        return values1
    else:
        return relation(data, values1.to_numpy().ravel())

relation(df.astype(str), np.array(['87778885566']))

  key     id        phone          mail
1   2  54321  87778885566   two@mail.ru
3   4  66678  87778885566  four@mail.ru
4   5  34567  84547895566  four@mail.ru
5   6  34567  89087545678  five@mail.ru